body {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
    height: 100vh;
}

.page-content {
  padding-top: 5rem;
}

.my-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.todoitems {
  color: #090979;
}

ul li {
    position: relative;
}

ul li i {
    position: absolute;
    right: 5px;
}

.form-check-input:checked {
    background-color: #005eff;
    border-color: #090979;
}

.form-check-input:focus {
    border-color: #090979;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #09097942;
}

.my-btn {
    color: #000;
    background-color: #090979;
    border: #090979;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}